/* ** Monitores Verticais (Telas mais altas que largas) ** */
@media (max-aspect-ratio: 1/1) {
  #Logo_principal {
    margin-top: 8vh;
    margin-bottom: 3vh;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  #animated_text > img {
    width: 25px;
  }
  #content_adviser p {
    font-size: 18px;
    margin-top: 3vh;
    margin-bottom: 1.5vh;
  }
  #content_links {
    max-width: 300px;
  }
  #content_links a {
    width: 70px;
    height: 70px;
    padding: 0.8rem;
  }
  #content_links img {
    width: 40px;
    height: 40px;
  }
  footer {
    padding: 0;
    font-size: 13px;
    margin-top: 3vh;
  }
}

/* ** Monitor vertical (até 1080px de largura) ** */
@media (max-width: 1080px) {
  #Logo_principal {
    margin-top: 8vh;
    margin-bottom: 3vh;
  }
  h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  #animated_text > img {
    margin-top: 1vh;
    width: 40px;
  }
  #content_adviser p {
    font-size: 25px;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
  }

  #content_links a:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(226, 213, 213, 0.342);
    background-color: rgba(255, 255, 255, 0.062);
    border-color: rgba(255, 255, 255, 0.185);
  }
  #content_links {
    max-width: 700px;
  }
  #content_links a {
    width: 200px;
    height: 200px;
    padding: 0.8rem;
    overflow-x: hidden;
  }
  #content_links img {
    width: 100px;
    height: 100px;
  }
  footer {
    padding: 0vh;
    font-size: 13px;
    margin-top: 10vh;

    font-size: 15px;
  }
}

/* ** Monitor vertical (até 1078px de largura) ** */
@media (max-width: 1078px) {
  #Logo_principal {
    margin-top: 7vh;
    margin-bottom: 4vh;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  #animated_text > img {
    width: 25px;
  }
  #content_adviser p {
    font-size: 18px;
    margin-top: 3vh;
    margin-bottom: 1.5vh;
  }
  #content_links {
    max-width: 400px;
    margin-bottom: -1vh;
  }
  #content_links a {
    width: 90px;
    height: 90px;
    padding: 0.8rem;
    overflow-x: hidden;
  }
  #content_links img {
    width: 40px;
    height: 40px;
  }
  footer {
    padding: 0;
    font-size: 13px;
    margin-top: 0;
  }
}

/* ** Telas de Tablets (até 768px de largura) ** */
@media (max-width: 768px) {
  #Logo_principal {
    width: 85%;
    margin-top: 8vh;
    margin-bottom: 4vh;
  }
  h2 {
    font-size: 40px;
    margin-bottom: 25px;
  }
  #animated_text > img {
    width: 40px;
    margin-top: 2vh;
  }
  #content_adviser p {
    font-size: 18px;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  #content_links {
    max-width: 400px; /* Pode manter 3 ícones por linha, ajustando o max-width */
    gap: 15px; /* Reduz o espaçamento entre ícones */
  }
  #content_links a {
    width: 90px;
    height: 90px;
    padding: 0.9rem;
  }
  #content_links img {
    width: 45px;
    height: 45px;
  }
  footer {
    font-size: 14px;
    padding: 0;
  }
}

/* ** Telas de Celulares Grandes (até 480px de largura) ** */
@media (max-width: 480px) {
  #Logo_principal {
    max-width: 80%;
    margin-top: 10vh;
    margin-bottom: 0;
  }
  h2 {
    font-size: 35px;
    margin-top: 3.8vh;
    margin-bottom: 15px;
  }
  #animated_text > img {
    margin-top: 6vh;
    width: 30px;
  }
  #content_adviser p {
    font-size: 16px;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
  }
  #content_links {
    max-width: 250px; /* Força 2 ícones por linha em celulares menores */
    gap: 10px;
    padding: 1.5rem;
  }
  #content_links a {
    width: 80px;
    height: 80px;
    padding: 0.7rem;
  }
  #content_links img {
    width: 60px;
    height: 60px;
  }
  footer {
    font-size: 12px;
    padding: 0;
    margin-top: 1vh;
  }
}
